
/* Imports */

@import url(variables.css);





body {
    margin: 0;
    padding: 0;
}

header, footer, .navigation {
    background-color: var(--primary-color);
}

img {
    width: 100%;
    display: block;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
    color: var(--text-color-standard);
}

ul {
    list-style-type: none;
    padding: 0;
}






/* Reoccuring */







/* Reoccuring Margins */

.heading-background {
    /* Has to be above the ones below to be overwritten properly */
    margin-bottom: var(--margin-section-vertical-mobile);
}




/* Big-Margin */

.breadcrumbs-div,
.back-to-blank,
.article-specific-exhibition > .h-b-cosmology,
.section-information {
    margin-top: var(--margin-section-vertical-mobile);
    margin-bottom: var(--margin-section-vertical-mobile);
}

/* Single */

.social-media,
.section-main,
.section-specific-exhibition {
    margin-top: var(--margin-section-vertical-mobile);
}

#bottom-button-div-2,
.article-specific-exhibition, {
    margin-bottom: var(--margin-section-vertical-mobile);
}



/* Medium-Margin */

/* Footer */
#heading-csm-footer,
/* Home/Exhibitions */
#hero-section a,
.hero-section-div .heading-standard,
.exhibitions-home > *,
/* Specific-Exhibition */
.article-specific-exhibition > .heading-background,
.article-specific-exhibition > p,
#planets-div > p,
.article-specific-exhibition > img,
#image-old-person-1,
.article-specific-exhibition > a,
#cta-specific-exhibition-hidden,
/* Information */
.article-information,
.article-information .heading-background,
.article-information .heading-specific,
.article-information .heading-small,
.article-information img,
.section-information .button-standard,
/* Tickets */
.article-tickets .heading-small {
    margin-top: var(--margin-diff-element-vertical-mobile);
    margin-bottom: var(--margin-diff-element-vertical-mobile);
}


/* Single */

.social-media-icons {
    margin-top: var(--margin-diff-element-vertical-mobile);
}

.newsletter-form .heading-standard,
#email,
#special-event-home-div > *,
#cosmology-specific-div img,
#cosmology-specific-headings .h-b-cosmology,
#cosmology-specific-headings .heading-background {
    margin-bottom: var(--margin-diff-element-vertical-mobile);
}

.ticket-date-picker-form > *, 
.dates-fieldset {
    margin: var(--margin-diff-element-vertical-mobile) 0;
}



/* Small-Margin */

.hero-section-div > p,
.article-information p,
.article-tickets > p {
    margin-top: var(--margin-same-element-vertical-mobile);
    margin-bottom: var(--margin-same-element-vertical-mobile);
}

/* Single */

.footer-div a,
.first-footer-div > p,
#name {
    margin-bottom: var(--margin-same-element-vertical-mobile);
}





/* Mixed-Margin Top/Bottom */

.article-specific-exhibition .heading-small {
    margin-top: var(--margin-diff-element-vertical-mobile);
    margin-bottom: var(--margin-same-element-vertical-mobile);
}

.article-specific-exhibition ul {
    margin-top: var(--margin-same-element-vertical-mobile);
    margin-bottom: var(--margin-diff-element-vertical-mobile);
}






/* Reoccuring Padding */


/* Horizontal */


/* Big */
main,
/* Header */
.header-top,
nav a,
/* Footer */
.social-media,
.newsletter-form,
.footer-categories,
/* Headings */
.heading-background > .heading-standard,
.heading-background > .heading-specific,
.heading-small,
/* Home/Exhibitions */
.hero-section-div,
.exhibitions-home > p,
#special-event-home-div > p,
/* Specific-Exhibition */
.article-specific-exhibition > p,
/* Information */
.article-information > p,
.article-information-div > p,
/* Tickets */
.article-tickets > p,
.dates-fieldset {
    padding-left: var(--padding-horizontal-mobile);
    padding-right: var(--padding-horizontal-mobile);
}


/* Vertical */


.header-top,
nav a {
    padding-top: var(--header-padding-vertical-mobile);
    padding-bottom: var(--header-padding-vertical-mobile);
}

.social-media, .newsletter-form {
    padding-top: var(--footer-padding-vertical-mobile);
    padding-bottom: var(--footer-padding-vertical-mobile);
}

.footer-categories {
    padding-top: 0;
    padding-bottom: var(--footer-padding-vertical-mobile);
}

.bottom-button-div {
    padding-top: var(--margin-section-vertical-mobile);
}

.back-to-blank {
    padding-bottom: var(--margin-section-vertical-mobile);
}

.footer-div {
    padding-top: var(--margin-same-element-vertical-mobile);
}

.article-specific-exhibition ul,
.article-information ul {
    padding-left: 30px;
    padding-right: var(--padding-horizontal-mobile);
}





/* Gap */


.breadcrumbs {
    gap: 8px;
}

.back-to-blank {
    gap: var(--margin-same-element-vertical-mobile);
}





/* Border-Bottom */


header,
nav,
.footer-div,
.header-top,
.back-to-blank,
.section-main,
.section-information {
    border-bottom: var(--border-style) var(--border-width) var(--text-color-standard);
}



.social-media, 
.newsletter-form, 
.footer-container,
.bottom-button-div {
    border-top: var(--border-style) var(--border-width) var(--text-color-standard);
}




/* Font-Family */

p,
.heading-background *,
.heading-small,
.heading-standard,
.button-standard,
.button-exhibitions,
.button-specific-exhibition,
.article-specific-exhibition ul,
.article-information ul,
.logo-header,
.dates-value-changer,
.dates-fieldset label {
    font-family: var(--primary-font), var(--font-fallback); 
}

nav a,
.footer-div a,
.footer-div p,
.breadcrumbs > li,
.back-to-blank a {
    font-family: var(--secondary-font), var(--font-fallback); 
}




/* Font-Size */


.logo-header {
    font-size: var(--size-logo-mobile); 
}

nav a {
    font-size: var(--size-nav-a-mobile);
}

.footer-div a,
.footer-div p {
    font-size: var(--size-footer-categories-mobile);
}


.button-standard, 
.button-exhibitions,
.button-specific-exhibition {
    font-size: var(--size-cta-standard-mobile); 
}

.breadcrumbs > li,
.back-to-blank a {
    font-size: var(--size-breadcrumbs);
}

.heading-standard {
    font-size: var(--size-heading-standard-mobile);
}

.heading-specific {
    font-size: var(--size-heading-specific-mobile);
}

.heading-small {
    font-size: var(--size-heading-small-mobile);
}

.section-main p {
    font-size: var(--size-exhibition-p-home);
}

.article-specific-exhibition p,
.article-specific-exhibition li,
.article-information p,
.article-information li {
    font-size: var(--size-descriptive-text-mobile); 
}

.dates-value-changer * {
    font-size: var(--size-month-picker-month);
}

.dates-fieldset label {
    font-size: var(--size-dates-mobile); 
}




/* Hidden */


.hidden,
.image-chemistry-hidden,
#image-planets-hidden,
#image-old-person-hidden,
#image-library-hidden,
#image-scientific-logo-hidden,
#image-girl-equations-hidden,
#image-mammoth-hidden,
#image-teacher-hidden,
#image-contraption-hidden,
#image-exhibit-white-hidden,
#image-exterior-hidden,
#image-skull-hidden,
#image-pentagons-hidden,
#cta-get-involved-hidden,
.image-old-person-hidden {
    display: none;
}





/* Breadcrumbs + On-Site-Navigation */



.breadcrumbs {
    display: flex;
    flex-wrap: wrap;
}

.breadcrumbs > li {
    text-transform: capitalize;
}

.breadcrumbs a {
    text-decoration: underline;
}

.breadcrumbs a:hover,
.back-to-blank a:hover {
    text-decoration-color: var(--primary-color);
}

.back-to-blank {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
}

.back-to-blank a {
    text-decoration: underline;
    max-width: 40%;
}




/* Headings */


.heading-background * {
    text-transform: uppercase;
}

.heading-background .heading-small,
#heading-section-home-1,
#heading-section-home-2,
#heading-section-information-1 {
    text-transform: none;
}

.heading-standard {
    font-weight: var(--weight-heading-standard-mobile);
}

.heading-specific {
    font-weight: var(--weight-heading-specific-mobile);
}

.heading-small {
    font-weight: var(--weight-heading-small-mobile);
}

.white-text {
    color: var(--background-color);
}





/* Buttons */


.button-standard {
    background-color: var(--cta-color-standard);
    border: var(--border-style) var(--cta-border-width) var(--cta-border-color-standard);
    padding: var(--cta-padding-mobile) 0;
    width: 100%;
}

.button-exhibitions,
.button-specific-exhibition {
    padding: var(--cta-padding-mobile) var(--cta-padding-small-mobile);
    border-style: var(--border-style);
    border-width: var(--cta-border-width);
    width: 35%;
}



.button-standard, 
.button-exhibitions,
.button-specific-exhibition {
    font-weight: var(--weight-cta-standard);
    border-radius: var(--border-radius);
    text-transform: uppercase;
    text-align: center;
}



/* Miscellaneous */


.article-specific-exhibition p,
.article-specific-exhibition li,
.article-information p,
.article-information li,
.article-tickets p {
    font-weight: var(--weight-descriptive-text-mobile);
}

.article-specific-exhibition ul,
.article-information ul {
    margin: 0;
    list-style-type: initial;
}












/* Header */


.header-top {
    display: flex;
    justify-content: space-between;
}

.icon-header {
    display: block;
    max-height: 55px;
    max-width: 55px;
}

.logo-header {
    font-weight: var(--weight-logo);
}



#logo-full {
    display: none;
}

#hamburger-menu {
    padding-top: var(--hamburger-menu-padding);
    padding-bottom: var(--hamburger-menu-padding);
    padding-left: 5px;
}

.navigation {
    width: 100%;
    left: 0;
}

nav a {
    display: block;
}



nav,
#menu-checkbox {
    display: none;
}

#menu-checkbox:checked ~ nav {
    display: block;
}

nav {
    position: absolute;
}

#search-icon {
    order: 1;
}

.logo-header {
    order: 2;
}

#cart-icon {
    order: 3;
}






/* Footer */



.social-media {
    background-color: var(--background-color);
}

.social-media-icons {
    display: flex;
    justify-content: space-between;
}

.social-media-icon {
    width: 16%;
}


form input {
    width: 100%;
    box-sizing: border-box;
    border: var(--border-style) var(--input-border-width) var(--cta-border-color-standard);
}

.footer-div {
    display: flex;
    flex-direction: column;
}

.footer-div a,
.footer-div p {
    font-weight: var(--weight-footer-categories);
}

.first-footer-div {
    padding-top: 0;
}






/* Homepage (Index) */




.hero-section-div > h1 {
    text-transform: uppercase;
}

.section-main p {
    font-weight: var(--weight-exhibition-p-home);
}

#home-event-2 {
    display: none;
}


.buttons-div {
    display: flex;
    justify-content: space-between;
}

#hero-section, .heading-section > * {
    background-color: var(--primary-color);
}

.h-b-cosmology, .buttons-cosmology > a {
    border-color: var(--secondary-color-purple);
    background-color: var(--secondary-color-purple);
}

.h-b-evolution, .buttons-evolution > a {
    border-color: var(--cta-border-color-standard);
    background-color: var(--secondary-color-yellow);
}

.h-b-biology-and-medicine, .buttons-biology-and-medicine > a {
    border-color: var(--secondary-color-red);
    background-color: var(--secondary-color-red);
}

.h-b-event-night, .buttons-event-night > a {
    border-color: var(--cta-border-color-standard);
    background-color: var(--secondary-color-orange);
}

#exhibitions-section-home,
#special-section-home {
    border-bottom: none;
}

#hero-section a,
.bottom-button-div > a {
    box-sizing: border-box;
    display: block;
    text-align: center;
}

#bottom-button-div-hidden {
    display: none;
}














/* Exhibitions-Page */



.h-b-robotics-and-ai, .buttons-robotics-and-ai > a {
    border-color: var(--secondary-color-blue);
    background-color: var(--secondary-color-blue);
}

.h-b-ecology, .buttons-ecology > a {
    border-color: var(--cta-border-color-standard);
    background-color: var(--secondary-color-green);
}

.h-b-event-professor, .buttons-event-professor > a {
    border-color: var(--secondary-color-blue);
    background-color: var(--secondary-color-blue);
}

.h-b-event-loan, .buttons-event-loan > a {
    border-color: var(--cta-border-color-standard);
    background-color: var(--secondary-color-green);
}









/* Exhibition-Cosmology-Page */



.button-specific-exhibition {
    background-color: var(--secondary-color-purple);
    border-color: var(--secondary-color-purple);
    width: 100%;
    display: block;
    box-sizing: border-box;
}

#image-planets-hidden,
#image-old-person-hidden,
#cta-specific-exhibition-hidden {
    display: none;
}








/* Information-Page */



.section-information .button-standard {
    display: block;
    box-sizing: border-box;
}

#image-scientific-logo-hidden,
#image-library-hidden {
    display: none;
}








/* Tickets-Page */




.ticket-date-picker-form .button-standard {
    display: block;
}

.dates-value-changer {
    display: flex;
    border: var(--input-border-style) var(--input-border-width) #000000;
}

.dates-value-changer > * {
    display: flex;
    justify-content: center;
}

.dates-value-changer * {
    font-weight: var(--weight-month-picker-month);
}



.dates-value-changer-value {
    border-left: var(--input-border-style) var(--input-border-width) #000000;
    border-right: var(--input-border-style) var(--input-border-width) #000000;
    width: 70%;
}

.dates-value-changer-key {
    background-color: var(--date-color-standard);
    width: 15%;
}

.dates-fieldset .dates-row > input,
.dates-fieldset legend {
    display: none;
}

.dates-fieldset label {
    font-weight: var(--weight-dates-mobile);
    display: flex;
    justify-content: center;
    margin-top: var(--margin-dates-mobile);
    margin-bottom: var(--margin-dates-mobile);
}

.dates-fieldset {
    border: none;
}

.dates-row {
    display: flex;
    justify-content: space-between; 
}

.date-feb, .date-may {
    background-color: var(--date-color-unpickable);
    color: var(--date-color-standard);
    border: var(--input-border-style) var(--input-border-width) var(--date-color-unpickable);
}

.date-mar {
    background-color: var(--date-color-standard);
    color: var(--text-color-standard);
    border: var(--input-border-style) var(--input-border-width) var(--date-color-standard);
}

.date-feb,
.date-mar,
.date-may {
    display: inline-block;
    box-sizing: content-box;
    width: 10%;
}








/* Transitions */



.button-standard,
.button-exhibition,
.button-specific-exhibition {
    transition-property: padding;
    transition-duration: 0.1s;
}

.button-standard:hover,
.button-specific-exhibition:hover {
    padding: 7px;
}

.button-exhibitions:hover {
    padding: 5px 20px;
}

.social-media-icon {
    transition-property: width;
    transition-duration: 0.2s;
}

.social-media-icon:hover {
    width: 18%;
}

.dates-value-changer-key {
    transition-property: background;
    transition-duration: 0.2s;
}

.dates-value-changer-key:hover {
    background-color: #A1A1A1;
}

.date-mar {
    transition-property: background, border;
    transition-duration: 0.1s;
}

.date-mar:hover {
    background-color: var(--primary-color);
    border: var(--input-border-style) var(--input-border-width) var(--cta-border-color-standard);
}















/* Media Queries */




@media screen and (min-width: 600px) {


    /* Reoccuring Padding */


    /* Big */
    main,
    /* Header */
    .header-top,
    nav a,
    /* Footer */
    .social-media,
    .newsletter-form,
    .footer-categories,
    /* Home/Exhibitions */
    .hero-section-div,
    /* Specific-Exhibition */
    .article-specific-exhibition > p,
    /* Information */
    .article-information > p,
    /* Tickets */
    .dates-fieldset {
        padding-left: var(--padding-horizontal-tablet);
        padding-right: var(--padding-horizontal-tablet);
    }

    .article-specific-exhibition ul,
    .article-information ul {
        padding-left: 30px;
        padding-right: var(--padding-horizontal-tablet);
    }

    #special-event-home .buttons-event-night {
        padding-left: var(--padding-horizontal-mobile);
        padding-right: var(--padding-horizontal-mobile);
    }




    .social-media > .heading-standard {
        width: 100%;
    }

    .social-media {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .social-media-icons {
        width: 60%;
    }

}



@media screen and (min-width: 700px) {
    

    header {
        border-bottom: none;
    }

    nav {
        display: flex;
        position: initial;
    }

    .navigation-div {
        display: flex;
        justify-content: space-between;
        width: 70%;
    }

    nav a {
        font-size: var(--size-nav-a-big);
    }

    #hamburger-menu {
        display: none;
    }

    
}



@media screen and (min-width: 768px) {


    /* Main/Exhibitions-Pages */

    .section-main p {
        font-size: var(--size-exhibition-p-home-tablet);
    }

    #hero-section,
    #exhibitions-section-home,
    #exhibitions-section-row-1,
    #exhibitions-section-row-2,
    #special-section-exhibitions,
    .exhibitions-home,
    #special-event-home-div {
        display: flex;
    }

    #exhibitions-section-home,
    #exhibitions-section-row-1,
    #exhibitions-section-row-2,
    #special-section-exhibitions {
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .exhibitions-home {
        flex-direction: column;
    }

    .exhibitions-home > * {
        margin-top: 0;
        margin-bottom: var(--margin-diff-element-vertical-mobile);
    }

    #bottom-button-div-2 {
        margin-bottom: 0;
    }

    #exhibitions-section-home > .heading-section,
    #exhibitions-section-row-1 > .heading-section,
    #special-section-exhibitions > .heading-section,
    .bottom-button-div {
        width: 100%;
    }

    #exhibitions-section-home > .exhibitions-home,
    #exhibitions-section-row-1 > .exhibitions-home,
    #exhibitions-section-row-2 > .exhibitions-home,
    #special-section-exhibitions > .exhibitions-home,
    .bottom-button-div > a {
        width: 31%;
    }

    .button-exhibitions, 
    .button-specific-exhibition,
    .bottom-button-div > a {
        font-size: var(--size-cta-standard-tablet);
        padding: var(--cta-padding-mobile) var(--cta-padding-mobile);
    }

    #hero-section a {
        font-size: var(--size-cta-standard-tablet);
    }

    .bottom-button-div > a {
        margin-left: auto;
        margin-right: auto;
    }

    #bottom-button-div-1 {
        display: none;
    }

    #display-hall,
    #bottom-button-div-hidden,
    #home-event-2 {
        display: initial;
    }

    #hero-section {
        flex-direction: row;
    }

    #special-event-home {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .hero-section-div,
    #special-event-home-div {
        flex-direction: row;
        flex-wrap: wrap;
        width: 36%;
    }

    #hero-section img,
    #special-event-home img {
        width: 32%;
    }

    .hero-section-div .heading-background,
    .hero-section-div .buttons-div,
    #special-event-home-div .heading-background,
    #special-event-home-div .buttons-div {
        width: 100%;
    }

    .hero-section-div p,
    #special-event-home-div p {
        width: 90%;
    }

    .hero-section-div .heading-standard,
    #special-event-home-div .heading-background {
        display: flex;
        align-items: center;
        max-height: 18%;
    }



    /* Specific-Exhibition-Page + Information-Page */


    .article-specific-exhibition,
    #explore-together-article,
    #for-kids-article,
    #for-teachers-article,
    #for-researchers-article,
    #location-article,
    #admission-article,
    #support-article,
    #volunteer-article,
    #internships-article {
        display: flex;
        flex-wrap: wrap;
    }

    .image-div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .article-specific-exhibition > *,
    #cosmology-specific-div > *,
    .article-information-div,
    .article-information img,
    .image-div {
        width: 50%;
    }

    #top-heading-explore-together,
    #top-heading-explore-together-h2,
    #image-library-hidden,
    #top-heading-for-kids-h3,
    #image-girl-equations-hidden,
    #top-heading-for-teachers-h3,
    #image-teacher-hidden,
    #top-heading-for-researchers-h3,
    #image-contraption-hidden,
    #location-article,
    #top-heading-location-h3,
    #image-exhibit-white-hidden,
    #top-heading-admission-h3,
    #image-exterior-hidden,
    #top-heading-hours-h3,
    #top-heading-accessibility-h3,
    #top-heading-food-and-drink-h3,
    #top-heading-shop-h3,
    #top-heading-support-h3,
    #image-skull-hidden,
    #top-heading-volunteer-h3,
    #image-pentagons-hidden,
    #top-heading-internships-h3 {
        margin-top: 0;
    }

    .article-specific-exhibition .h-b-cosmology {
        max-height: 40px;
    }

    #cosmology-specific-div {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    #cosmology-specific-headings {
        display: flex;
        flex-direction: column;
        padding-bottom: 80px;
        justify-content: space-between;
    }

    .article-specific-exhibition > p {
        padding-left: 0;
        padding-right: 0;
    }

    #image-planets-mobile,
    #image-old-person-1,
    #cta-specific-exhibition-1,
    #image-library-1,
    #image-scientific-logo-1,
    #image-girl-equations-1,
    #image-mammoth-1,
    #image-teacher-1,
    #image-contraption-1,
    #image-exhibit-white-1,
    #image-exterior-1,
    #image-skull-1,
    #image-pentagons-1,
    #cta-get-involved-1 {
        display: none;
    }

    #image-planets-hidden,
    #image-old-person-hidden,
    #image-library-hidden,
    #image-scientific-logo-hidden,
    #image-girl-equations-hidden,
    #image-mammoth-hidden,
    #image-teacher-hidden,
    #image-contraption-hidden,
    #image-exhibit-white-hidden,
    #image-exterior-hidden,
    #image-skull-hidden,
    #image-pentagons-hidden {
        display: initial; 
    }

    #information-specific-exhibition .heading-background,
    .article-specific-exhibition > .back-to-blank,
    .image-div img {
        width: 100%;
    }

    #admission-and-hours-div .heading-small {
        padding-left: 0;
    }

    .article-specific-exhibition ul {
        padding-left: 20px;
    }

    #planets-div > p,
    .article-specific-exhibition ul,
    #article-information-div > *,
    .section-information p {
        width: 80%;
    }

    #cta-specific-exhibition-hidden,
    #cta-get-involved-hidden {
        display: block;
        width: 90%;
    }

    .article-information-div a,
    #cta-get-involved-hidden {
        width: 90%;
    }

}




@media screen and (min-width: 800px) {

    #logo-full {
        display: block;
    }

    #logo-abbr {
        display: none;
    }
}




@media screen and (min-width: 1000px) {


    .heading-background {
    /* Has to be above the ones below to be overwritten properly */
    margin-bottom: var(--margin-section-vertical-desktop);
    }




    /* Big-Margin */

    .breadcrumbs-div,
    .back-to-blank,
    .article-specific-exhibition > .h-b-cosmology,
    .section-information {
        margin-top: var(--margin-section-vertical-desktop);
        margin-bottom: var(--margin-section-vertical-desktop);
    }

    /* Single */

    .section-main,
    .section-specific-exhibition {
        margin-top: var(--margin-section-vertical-desktop);
    }


    main,
    .article-specific-exhibition {
        margin-bottom: var(--margin-section-vertical-desktop);
    }



    /* Medium-Margin */


    /* Home/Exhibitions */
    #hero-section a,
    .hero-section-div .heading-standard,
    /* Specific-Exhibition */
    .article-specific-exhibition > .heading-background,
    .article-specific-exhibition > p,
    #planets-div > p,
    .article-specific-exhibition > img,
    #image-old-person-1,
    .article-specific-exhibition > a,
    #cta-specific-exhibition-hidden,
    /* Information */
    
    .article-information .heading-background,
    .article-information .heading-specific,
    .article-information .heading-small,
    .article-information img,
    .section-information .button-standard,
    /* Tickets */
    .article-tickets .heading-small {
        margin-top: var(--margin-diff-element-vertical-desktop);
        margin-bottom: var(--margin-diff-element-vertical-desktop);
    }


    /* Single */

    .social-media-icons {
        margin-top: var(--margin-diff-element-vertical-desktop);
    }

    
    #special-event-home-div > *,
    #cosmology-specific-div img,
    #cosmology-specific-headings .h-b-cosmology,
    #cosmology-specific-headings .heading-background {
        margin-bottom: var(--margin-diff-element-vertical-desktop);
    }

    .ticket-date-picker-form > *, 
    .dates-fieldset {
        margin: var(--margin-diff-element-vertical-desktop) 0;
    }

    .h-b-biology-and-medicine,
    .h-b-cosmology,
    .h-b-ecology,
    .h-b-evolution,
    .h-b-robotics-and-ai,
    .h-b-event-night,
    .h-b-event-loan,
    .article-information,
    .h-b-event-professor {
        margin-bottom: var(--margin-diff-element-vertical-mobile);
    }



    /* Small-Margin */

    .hero-section-div > p,
    .article-information p,
    .article-tickets > p {
        margin-top: var(--margin-same-element-vertical-desktop);
        margin-bottom: var(--margin-same-element-vertical-desktop);
    }



    /* Mixed-Margin Top/Bottom */

    .article-specific-exhibition .heading-small {
        margin-top: var(--margin-diff-element-vertical-desktop);
        margin-bottom: var(--margin-same-element-vertical-desktop);
    }

    .article-specific-exhibition ul {
        margin-top: var(--margin-same-element-vertical-desktop);
        margin-bottom: var(--margin-diff-element-vertical-desktop);
    }



    /* No-Margin */


    #explore-together-article,
    #back-to-blank-specific-exhibition {
        margin: 0;
    }



    /* Footer */


    footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .social-media {
        width: 100%;
        margin-top: 0;
        border-bottom: var(--border-style) var(--border-width) var(--text-color-standard);
    }

    .newsletter-form,
    .footer-categories {
        width: 45%;
    }

    .newsletter-form,
    .footer-container {
        border: none;
    }

    .social-media-icon {
        width: 12%;
    }

    .newsletter-form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    #name,
    #email {
        height: 30px;
    }

    .image-chemistry-hidden {
        display: initial;
        box-sizing: border-box;
        border: var(--border-style) 2px var(--text-color-standard);
    }

    .newsletter-form form {
        display: flex;
        flex-direction: column;
    }



    /* Pages */


    .bottom-button-div {
        padding-top: var(--margin-section-vertical-desktop);
    }

    .bottom-button-div a {
        width: 45%;
        padding: 12px;
    }

    .bottom-button-div a:hover {
        padding: 15px;
    }

    .back-to-blank {
        padding-bottom: var(--margin-section-vertical-desktop);
    }

    #cosmology-specific-headings .heading-standard {
        font-size: var(--size-heading-standard-desktop);    
    }

    #cosmology-specific-headings .heading-specific,
    #information-specific-exhibition .heading-specific,
    .button-specific-exhibition {
        font-size: var(--size-heading-specific-desktop);
    }

    .article-specific-exhibition {
        margin-bottom: 0;
    }

    #back-to-blank-specific-exhibition,
    #back-to-blank-tickets {
        border-top: var(--border-style) var(--border-width) var(--text-color-standard);
        padding-top: var(--margin-section-vertical-desktop);
    }

    .article-tickets {
        width: 46%;
    }

    .image-old-person-hidden {
        width: 50%;
        display: initial;
    }

    .section-tickets {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    #admission-tickets-article p {
        width: 60%;
    }

    #back-to-blank-tickets {
        margin-top: 0;
    }

}





@media screen and (min-width: 1200px) {


    /* Reoccuring Padding */


    /* Big */
    main,
    /* Header */
    .header-top,
    nav a,
    /* Footer */
    .social-media,
    .newsletter-form,
    .footer-categories,
    /* Home/Exhibitions */
    .hero-section-div,
    /* Specific-Exhibition */
    .article-specific-exhibition > p,
    /* Information */
    .article-information > p,
    /* Tickets */
    .dates-fieldset {
        padding-left: var(--padding-horizontal-desktop);
        padding-right: var(--padding-horizontal-desktop);
    }

    .article-specific-exhibition ul,
    .article-information ul {
        padding-right: var(--padding-horizontal-desktop);
    }

    #special-event-home-div p {
        padding-left: var(--padding-horizontal-tablet);
        padding-right: var(--padding-horizontal-tablet);
    }


    /* Font-Size */


    #cosmology-specific-headings .heading-standard {
        font-size: var(--size-heading-standard-desktop-big);    
    }

    #cosmology-specific-headings .heading-specific,
    #information-specific-exhibition .heading-specific,
    .button-specific-exhibition {
        font-size: var(--size-heading-specific-desktop-big);
    }

    .button-standard,
    #hero-section .button-standard,
    .bottom-button-div a {
        font-size: var(--size-cta-standard-desktop); 
    }

    .heading-standard {
        font-size: var(--size-heading-standard-desktop);
    }

    .heading-specific {
        font-size: var(--size-heading-specific-desktop);
    }

    .heading-small {
        font-size: var(--size-heading-small-desktop);
    }

    .article-specific-exhibition p,
    .article-specific-exhibition li,
    .article-information p,
    .article-information li,
    .article-tickets p {
        font-size: var(--size-descriptive-text-desktop); 
    }

    .section-main p {
        font-size: var(--size-exhibition-p-home-desktop);
}




    #cosmology-specific-headings .heading-background,
    #information-specific-exhibition .heading-background {
        display: flex;
        align-items: center;
        padding-top: 5px;
        padding-bottom: 5px;
    }


    .newsletter-form,
    .footer-categories {
        width: 42%;
    }


    .social-media-icon {
        width: 9%;
    }

    .social-media-icon:hover {
        width: 12%;
    }

    .button-exhibitions,
    .button-specific-exhibition {
        width: 40%;
    }


}



@media screen and (min-width: 1400px) {


    .navigation-div {
        width: 40%;
    }

    #special-event-home-div p {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }

    #special-event-home .buttons-event-night {
        padding-left: var(--padding-horizontal-tablet);
        padding-right: var(--padding-horizontal-tablet);
    }

    #cosmology-specific-headings .heading-specific {
        margin-bottom: 40px;
    }

    .image-old-person-hidden {
        width: 40%;
    }


}




@media screen and (min-width: 1600px) {


    .image-chemistry-hidden {
        margin-top: 20px;
    }

    .buttons-event-night a {
        display: flex;
        justify-content: center;
        align-items: center;
        max-height: 30px;
    }

    #cosmology-specific-headings .heading-specific {
        margin-bottom: 80px;
    }


}


@media screen and (min-width: 1700px) {


    /* Reoccuring Padding */


    /* Big */
    main,
    /* Header */
    .header-top,
    nav a,
    /* Footer */
    .social-media,
    .newsletter-form,
    .footer-categories,
    /* Home/Exhibitions */
    .hero-section-div,
    /* Specific-Exhibition */
    .article-specific-exhibition > p,
    /* Information */
    .article-information > p {
        padding-left: var(--padding-horizontal-desktop-big);
        padding-right: var(--padding-horizontal-desktop-big);
    }

    .footer-categories,
    .article-specific-exhibition ul,
    .article-information ul {
        padding-right: var(--padding-horizontal-desktop-big);
    }

    .newsletter-form {
        padding-left: var(--padding-horizontal-desktop-big);
    }

    .newsletter-form {
        padding-right: 0;
    }

    .footer-categories {
        padding-left: 0;
    }

    #special-event-home-div p {
        padding-left: var(--padding-horizontal-desktop);
        padding-right: var(--padding-horizontal-desktop);
    }


    /* Images */


    #image-library-hidden,
    #image-scientific-logo-hidden,
    #image-girl-equations-hidden,
    #image-mammoth-hidden,
    #image-teacher-hidden,
    #image-contraption-hidden,
    #image-exhibit-white-hidden,
    #image-exterior-hidden,
    #image-skull-hidden,
    #image-pentagons-hidden {
        width: 90%;
        align-self: flex-end;
    }


    #image-old-person-hidden,
    .image-old-person-hidden {
        width: 35%;
        margin-left: auto;
    }



    #cosmology-specific-headings .heading-specific {
        margin-bottom: 120px;
    }


}



@media screen and (min-width: 1900px) {


    .image-chemistry-hidden {
        margin-top: 40px;
    }

    #hero-section {
        justify-content: space-between;
    }

    #hero-section img {
        width: 20%;
    }


}



@media screen and (min-width: 2200px) {



    /* Reoccuring Padding */


    /* Big */
    main,
    /* Header */
    .header-top,
    nav a,
    /* Footer */
    .social-media,
    .newsletter-form,
    .footer-categories,
    /* Home/Exhibitions */
    .hero-section-div,
    /* Specific-Exhibition */
    .article-specific-exhibition > p,
    /* Information */
    .article-information > p {
        padding-left: var(--padding-horizontal-desktop-ultra);
        padding-right: var(--padding-horizontal-desktop-ultra);
    }

    .footer-categories,
    .article-specific-exhibition ul,
    .article-information ul {
        padding-right: var(--padding-horizontal-desktop-ultra);
    }

    .newsletter-form {
        padding-left: var(--padding-horizontal-desktop-ultra);
    }

    .newsletter-form {
        padding-right: 0;
    }

    .footer-categories {
        padding-left: 0;
    }

    #special-event-home-div p {
        padding-left: var(--padding-horizontal-desktop);
        padding-right: var(--padding-horizontal-desktop);
    }




    #image-library-hidden,
    #image-scientific-logo-hidden,
    #image-girl-equations-hidden,
    #image-mammoth-hidden,
    #image-teacher-hidden,
    #image-contraption-hidden,
    #image-exhibit-white-hidden,
    #image-exterior-hidden,
    #image-skull-hidden,
    #image-pentagons-hidden {
        width: 75%;
    }


    #special-event-home-div .heading-standard {
        padding-left: var(--padding-horizontal-desktop);
    }
    

}




