
/* Imports */

@import url(variables.css);





body {
    margin: 0;
    padding: 0;
}

header, footer, .navigation {
    background-color: var(--primary-color);
}

main {
    padding-left: var(--padding-horizontal-mobile);
    padding-right: var(--padding-horizontal-mobile);
}

img {
    width: 100%;
    display: block;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    font-family: var(--primary-font), var(--font-fallback);
    margin: 0;
}

a {
    text-decoration: none;
    color: var(--text-color-standard);
}

ul {
    list-style-type: none;
    padding: 0;
}






/* Reoccuring */



.breadcrumbs {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.breadcrumbs > li {
    font-family: var(--secondary-font), var(--font-fallback);
    font-size: var(--size-breadcrumbs);
    text-transform: capitalize;
}

.breadcrumbs a {
    text-decoration: underline;
}

.breadcrumbs a:hover,
.back-to-blank a:hover {
    text-decoration-color: var(--primary-color);
}



/* Reoccuring Margins */

.heading-background {
    /* Has to be above the ones below to be overwritten properly */
    margin-bottom: var(--margin-section-vertical-mobile);
}

/* Home/Exhibitions */
#hero-section > a,
.hero-section-div .heading-standard,
.exhibitions-home > *,
/* Specific-Exhibition */
.article-specific-exhibition > .heading-background,
.article-specific-exhibition > p,
.article-specific-exhibition > img,
.article-specific-exhibition > a,
/* Information */
.article-information,
.article-information .heading-background,
.article-information .heading-specific,
.article-information .heading-small,
.article-information > img,
.section-information .button-standard,
/* Tickets */
.article-tickets .heading-small {
    margin-top: var(--margin-diff-element-vertical-mobile);
    margin-bottom: var(--margin-diff-element-vertical-mobile);
}

.hero-section-div > p,
.article-information > p,
.article-tickets > p {
    margin-top: var(--margin-same-element-vertical-mobile);
    margin-bottom: var(--margin-same-element-vertical-mobile);
}

.article-specific-exhibition .heading-small {
    margin-top: var(--margin-diff-element-vertical-mobile);
    margin-bottom: var(--margin-same-element-vertical-mobile);
}

.article-specific-exhibition ul {
    margin-top: var(--margin-same-element-vertical-mobile);
    margin-bottom: var(--margin-diff-element-vertical-mobile);
}

.breadcrumbs-div,
.article-specific-exhibition > .h-b-cosmology {
    margin-top: var(--margin-section-vertical-mobile);
    margin-bottom: var(--margin-section-vertical-mobile);
}






.back-to-blank {
    margin-top: var(--margin-section-vertical-mobile);
    margin-bottom: var(--margin-section-vertical-mobile);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: var(--margin-same-element-vertical-mobile);
    flex-wrap: wrap;
}

.back-to-blank a {
    font-family: var(--secondary-font), var(--font-fallback);
    font-size: var(--size-breadcrumbs);
    text-decoration: underline;
    max-width: 40%;
}

.heading-standard,
.button-standard {
    font-family: var(--primary-font), var(--font-fallback);
}

.heading-background * {
    font-family: var(--primary-font), var(--font-fallback);
    text-transform: uppercase;
}

.heading-small {
    font-family: var(--primary-font), var(--font-fallback);
}


.heading-background .heading-small,
#heading-section-home-1,
#heading-section-home-2,
#heading-section-information-1 {
    text-transform: none;
}

.heading-standard {
    font-size: var(--size-heading-standard-mobile);
    font-weight: var(--weight-heading-standard-mobile);
}

.heading-specific {
    font-size: var(--size-heading-specific-mobile);
    font-weight: var(--weight-heading-specific-mobile);
}

.heading-small {
    font-size: var(--size-heading-small-mobile);
    font-weight: var(--weight-heading-small-mobile);
}

.heading-background > .heading-standard,
.heading-background > .heading-specific,
.heading-small {
    padding-left: var(--padding-horizontal-mobile);
    padding-right: var(--padding-horizontal-mobile);
}

.white-text {
    color: var(--background-color);
}

.button-standard {
    background-color: var(--cta-color-standard);
    border: var(--border-style) var(--cta-border-width) var(--cta-border-color-standard);
    padding: var(--cta-padding-mobile) 0;
    width: 100%;
}

.button-exhibitions,
.button-specific-exhibition {
    font-family: var(--primary-font), var(--font-fallback);
    padding: var(--cta-padding-mobile) var(--cta-padding-small-mobile);
    border-style: var(--border-style);
    border-width: var(--cta-border-width);
}

.button-standard, 
.button-exhibitions,
.button-specific-exhibition {
    font-size: var(--size-cta-standard-mobile);
    font-weight: var(--weight-cta-standard);
    border-radius: var(--border-radius);
    text-transform: uppercase;
    text-align: center;
}

.section-main {
    margin-top: var(--margin-section-vertical-mobile);
    border-bottom: var(--border-style) var(--border-width) var(--text-color-standard);
}

.section-information {
    margin-top: var(--margin-section-vertical-mobile);
    margin-bottom: var(--margin-section-vertical-mobile);
    border-bottom: var(--border-style) var(--border-width) var(--text-color-standard);
}

.hero-section-div,
.exhibitions-home > p,
.article-specific-exhibition > p,
.article-information > p,
.article-tickets > p {
    padding-left: var(--padding-horizontal-mobile);
    padding-right: var(--padding-horizontal-mobile);
}

.article-specific-exhibition p,
.article-specific-exhibition li,
.article-information p,
.article-information li {
    font-size: var(--size-descriptive-text-mobile);
    font-weight: var(--weight-descriptive-text-mobile);
}




.article-specific-exhibition ul,
.article-information ul {
    margin: 0;
    font-family: var(--primary-font), var(--font-fallback);
    list-style-type: initial;
    padding-left: 30px;
    padding-right: var(--padding-horizontal-mobile);
}





/* Header */


header, nav, .header-top {
    border-bottom: var(--border-style) var(--border-width) var(--text-color-standard);
}

.header-top {
    display: flex;
    justify-content: space-between;
    padding: var(--header-padding-vertical-mobile) var(--padding-horizontal-mobile) var(--header-padding-vertical-mobile) var(--padding-horizontal-mobile);
}

.icon-header {
    display: block;
    max-height: 55px;
    max-width: 55px;
}

.logo-header {
    font-family: var(--primary-font), var(--font-fallback);
    font-size: var(--size-logo-mobile);
    font-weight: var(--weight-logo);
}

#logo-full {
    display: none;
}

#hamburger-menu {
    padding-top: var(--hamburger-menu-padding);
    padding-bottom: var(--hamburger-menu-padding);
    padding-left: 5px;
}

.navigation {
    width: 100%;
    left: 0;
}

nav a {
    display: block;
    padding: var(--header-padding-vertical-mobile) var(--padding-horizontal-mobile);
    font-family: var(--secondary-font), var(--font-fallback);
    font-size: var(--size-nav-a-mobile);
}

nav,
#menu-checkbox {
    display: none;
}

#menu-checkbox:checked ~ nav {
    display: block;
}

nav {
    position: absolute;
}

#search-icon {
    order: 1;
}

.logo-header {
    order: 2;
}

#cart-icon {
    order: 3;
}






/* Footer */



footer * .heading-standard {
    margin-bottom: var(--margin-diff-element-vertical-mobile);
}

.social-media, .newsletter-form {
    padding: var(--footer-padding-vertical-mobile) var(--padding-horizontal-mobile) var(--footer-padding-vertical-mobile) var(--padding-horizontal-mobile);
}

.footer-categories {
    padding: 0 var(--padding-horizontal-mobile) var(--footer-padding-vertical-mobile) var(--padding-horizontal-mobile);
}

.social-media, .newsletter-form, .footer-container {
    border-top: var(--border-style) var(--border-width) var(--text-color-standard);
}

.social-media {
    background-color: var(--background-color);
}

.social-media-icons {
    display: flex;
    justify-content: space-between;
}

.social-media-icon {
    width: 16%;
}


form input {
    width: 100%;
    box-sizing: border-box;
    border: var(--border-style) var(--input-border-width) var(--cta-border-color-standard);
}

#name {
    margin-bottom: var(--margin-same-element-vertical-mobile);
}

#email {
    margin-bottom: var(--margin-diff-element-vertical-mobile);
}

.footer-div {
    display: flex;
    flex-direction: column;
    border-bottom: var(--border-style) var(--border-width) var(--text-color-standard);
    padding-top: var(--margin-same-element-vertical-mobile);
}

.footer-div a {
    margin-bottom: var(--margin-same-element-vertical-mobile);
}

.footer-div a,
.footer-div p {
    font-family: var(--secondary-font), var(--font-fallback);
    font-size: var(--size-footer-categories-mobile);
    font-weight: var(--weight-footer-categories);
}

.first-footer-div {
    padding-top: 0;
}

.first-footer-div > p {
    margin-bottom: var(--margin-same-element-vertical-mobile);
}

#heading-csm-footer {
    margin-top: var(--margin-diff-element-vertical-mobile);
}






/* Homepage (Index) */




.hero-section-div > h1 {
    text-transform: uppercase;
}

.section-main p {
    font-weight: var(--weight-exhibition-p-home);
    font-size: var(--size-exhibition-p-home);
}

#home-event-2 {
    display: none;
}


.buttons-div {
    display: flex;
    justify-content: space-between;
}

#hero-section, .heading-section > * {
    background-color: var(--primary-color);
}

.h-b-cosmology, .buttons-cosmology > a {
    border-color: var(--secondary-color-purple);
    background-color: var(--secondary-color-purple);
}

.h-b-evolution, .buttons-evolution > a {
    border-color: var(--cta-border-color-standard);
    background-color: var(--secondary-color-yellow);
}

.h-b-biology-and-medicine, .buttons-biology-and-medicine > a {
    border-color: var(--secondary-color-red);
    background-color: var(--secondary-color-red);
}

.h-b-event-night, .buttons-event-night > a {
    border-color: var(--cta-border-color-standard);
    background-color: var(--secondary-color-orange);
}

#exhibitions-section-home,
#special-section-home {
    border-bottom: none;
}

.bottom-button-div {
    padding-top: var(--margin-section-vertical-mobile);
    border-top: var(--border-style) var(--border-width) var(--text-color-standard);
}

#special-section-home {
    margin-top: var(--margin-section-vertical-mobile);
}

#bottom-button-div-2 {
    margin-bottom: var(--margin-section-vertical-mobile);
}

#hero-section > a,
.bottom-button-div > a {
    box-sizing: border-box;
    display: block;
    text-align: center;
}














/* Exhibitions-Page */



.h-b-robotics-and-ai, .buttons-robotics-and-ai > a {
    border-color: var(--secondary-color-blue);
    background-color: var(--secondary-color-blue);
}

.h-b-ecology, .buttons-ecology > a {
    border-color: var(--cta-border-color-standard);
    background-color: var(--secondary-color-green);
}

.h-b-event-professor, .buttons-event-professor > a {
    border-color: var(--secondary-color-blue);
    background-color: var(--secondary-color-blue);
}

.h-b-event-loan, .buttons-event-loan > a {
    border-color: var(--cta-border-color-standard);
    background-color: var(--secondary-color-green);
}









/* Exhibition-Cosmology-Page */



.section-specific-exhibition {
    margin-top: var(--margin-section-vertical-mobile);
}

.article-specific-exhibition,
#back-to-blank-bottom {
    margin-bottom: var(--margin-section-vertical-mobile);
}

.article-specific-exhibition .back-to-blank {
    border-bottom: var(--border-style) var(--border-width) var(--text-color-standard);
}

.button-specific-exhibition {
    background-color: var(--secondary-color-purple);
    border-color: var(--secondary-color-purple);
    width: 100%;
    display: block;
    box-sizing: border-box;
}








/* Information-Page */



.section-information .button-standard {
    display: block;
    box-sizing: border-box;
}








/* Tickets-Page */





.ticket-date-picker-form > * {
    margin: var(--margin-diff-element-vertical-mobile) 0 var(--margin-diff-element-vertical-mobile) 0;
}

.ticket-date-picker-form .button-standard {
    display: block;
}

.dates-value-changer {
    display: flex;
    border: var(--input-border-style) var(--input-border-width) #000000;
}

.dates-value-changer > * {
    display: flex;
    justify-content: center;
}

.dates-value-changer * {
    font-family: var(--primary-font), var(--font-fallback);
    font-size: var(--size-month-picker-month);
    font-weight: var(--weight-month-picker-month);
}

.dates-value-changer-value {
    border-left: var(--input-border-style) var(--input-border-width) #000000;
    border-right: var(--input-border-style) var(--input-border-width) #000000;
    width: 70%;
}

.dates-value-changer-key {
    background-color: var(--date-color-standard);
    width: 15%;
}

.dates-fieldset .dates-row > input,
.dates-fieldset legend {
    display: none;
}

.dates-fieldset label {
    font-family: var(--primary-font), var(--font-fallback);
    font-size: var(--size-dates-mobile);
    font-weight: var(--weight-dates-mobile);
    display: flex;
    justify-content: center;
    margin-top: var(--margin-dates-mobile);
    margin-bottom: var(--margin-dates-mobile);
}

.dates-fieldset {
    border: none;
    padding-left: var(--padding-horizontal-mobile);
    padding-right: var(--padding-horizontal-mobile);
    margin: var(--margin-diff-element-vertical-mobile) 0 var(--margin-diff-element-vertical-mobile) 0;
}

.dates-row {
    display: flex;
    justify-content: space-between; 
}

.date-feb, .date-may {
    background-color: var(--date-color-unpickable);
    color: var(--date-color-standard);
    border: var(--input-border-style) var(--input-border-width) var(--date-color-unpickable);
}

.date-mar {
    background-color: var(--date-color-standard);
    color: var(--text-color-standard);
    border: var(--input-border-style) var(--input-border-width) var(--date-color-standard);
}

.date-feb,
.date-mar,
.date-may {
    display: inline-block;
    box-sizing: content-box;
    width: 10%;
}








/* Transitions */



.button-standard,
.button-exhibitions {
    transition-property: padding;
    transition-duration: 0.1s;
}

.button-standard:hover {
    padding: 7px;
}

.button-exhibitions:hover {
    padding: 5px 20px;
}

.social-media-icon {
    transition-property: width;
}

.social-media-icon:hover {
    width: 18%;
}

.dates-value-changer-key {
    transition-property: background;
}

.dates-value-changer-key:hover {
    background-color: #A1A1A1;
}

.date-mar {
    transition-property: background, border;
    transition-duration: 0.1s;
}

.date-mar:hover {
    background-color: var(--primary-color);
    border: var(--input-border-style) var(--input-border-width) var(--cta-border-color-standard);
}













/* Test (DELETE LATER) */




















/* Media Queries */


@media screen and (min-width: 800px) {
    #logo-full {
        display: block;
    }

    #logo-abbr {
        display: none;
    }
}



@media screen and (min-width: 700px) {
    
    nav {
        display: flex;
    }

    .navigation-div {
        display: flex;
        justify-content: space-between;
        width: 70%;
    }

    nav a {
        font-size: var(--size-nav-a-big);
    }

    #hamburger-menu {
        display: none;
    }
}