
/* Imports */

@import url(variables.css);





body {
    margin: 0;
    padding: 0;
}

header, footer, .navigation {
    background-color: var(--primary-color);
}

main {
    padding-left: var(--padding-horizontal-mobile);
    padding-right: var(--padding-horizontal-mobile);
}

img {
    width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    font-family: var(--primary-font), var(--font-fallback);
    margin: 0;
}

a {
    text-decoration: none;
    color: var(--text-color-standard);
}






/* Reoccuring */



.heading-standard,
.button-standard {
    font-family: var(--primary-font), var(--font-fallback);
}

.heading-standard {
    font-size: var(--size-heading-standard-mobile);
    font-weight: var(--weight-heading-standard-mobile);
}

.white-text {
    color: var(--background-color);
}

.button-standard {
    background-color: var(--cta-color-standard);
    border: var(--border-style) var(--cta-border-width) var(--cta-border-color-standard);
    padding: var(--cta-padding-mobile) 0;
    width: 100%;
}

.button-exhibitions {
    font-family: var(--primary-font), var(--font-fallback);
    font-size: var(--size-cta-standard-mobile);
    font-weight: var(--weight-cta-standard);
    padding: var(--cta-padding-mobile) var(--cta-padding-small-mobile);
    border-style: var(--border-style);
    border-width: var(--cta-border-width);
}

.button-standard, 
.button-exhibitions {
    font-size: var(--size-cta-standard-mobile);
    font-weight: var(--weight-cta-standard);
    border-radius: var(--border-radius);
    text-transform: uppercase;
}

.section-main {
    margin-top: var(--margin-section-vertical-mobile);
    border-bottom: var(--border-style) var(--border-width) var(--text-color-standard);
}




/* Header */


header, nav, .header-top {
    border-bottom: var(--border-style) var(--border-width) var(--text-color-standard);
}

.header-top {
    display: flex;
    justify-content: space-between;
    padding: var(--header-padding-vertical-mobile) var(--padding-horizontal-mobile) var(--header-padding-vertical-mobile) var(--padding-horizontal-mobile);
}

.icon-header {
    display: block;
    max-height: 55px;
    max-width: 55px;
}

.logo-header {
    font-family: var(--primary-font), var(--font-fallback);
    font-size: var(--size-logo-mobile);
    font-weight: var(--weight-logo);
}

#logo-full {
    display: none;
}

#hamburger-menu {
    padding-top: var(--hamburger-menu-padding);
    padding-bottom: var(--hamburger-menu-padding);
    padding-left: 5px;
}

.navigation {
    width: 100%;
    left: 0;
}

nav a {
    display: block;
    padding: var(--header-padding-vertical-mobile) var(--padding-horizontal-mobile);
    font-family: var(--secondary-font), var(--font-fallback);
    font-size: var(--size-nav-a-mobile);
}

nav,
#menu-checkbox {
    display: none;
}

#menu-checkbox:checked ~ nav {
    display: block;
}

nav {
    position: absolute;
}

#search-icon {
    order: 1;
}

.logo-header {
    order: 2;
}

#cart-icon {
    order: 3;
}






/* Footer */



footer * .heading-standard {
    margin-bottom: var(--margin-diff-element-vertical-mobile);
}

.social-media, .newsletter-form {
    padding: var(--footer-padding-vertical-mobile) var(--padding-horizontal-mobile) var(--footer-padding-vertical-mobile) var(--padding-horizontal-mobile);
}

.footer-categories {
    padding: 0 var(--padding-horizontal-mobile) var(--footer-padding-vertical-mobile) var(--padding-horizontal-mobile);
}

.social-media, .newsletter-form, .footer-container {
    border-top: var(--border-style) var(--border-width) var(--text-color-standard);
}

.social-media {
    background-color: var(--background-color);
}

.social-media-icons {
    display: flex;
    justify-content: space-between;
}

.social-media-icon {
    width: 16%;
}


form input {
    width: 100%;
    box-sizing: border-box;
    border: var(--border-style) var(--input-border-width) var(--cta-border-color-standard);
}

#name {
    margin-bottom: var(--margin-same-element-vertical-mobile);
}

#email {
    margin-bottom: var(--margin-diff-element-vertical-mobile);
}

.footer-div {
    display: flex;
    flex-direction: column;
    border-bottom: var(--border-style) var(--border-width) var(--text-color-standard);
    padding-top: var(--margin-same-element-vertical-mobile);
}

.footer-div a {
    margin-bottom: var(--margin-same-element-vertical-mobile);
}

.footer-div a,
.footer-div p {
    font-family: var(--secondary-font), var(--font-fallback);
    font-size: var(--size-footer-categories-mobile);
    font-weight: var(--weight-footer-categories);
}

.first-footer-div {
    padding-top: 0;
}

.first-footer-div > p {
    margin-bottom: var(--margin-same-element-vertical-mobile);
}

#heading-csm-footer {
    margin-top: var(--margin-diff-element-vertical-mobile);
}






/* Homepage (Index) */


.hero-section-div > h1,
#hero-section > a {
    margin-bottom: var(--margin-diff-element-vertical-mobile);
    margin-top: var(--margin-diff-element-vertical-mobile);
}

.hero-section-div > h1 {
    text-transform: uppercase;
}

.hero-section-div > p {
    margin-top: var(--margin-same-element-vertical-mobile);
}

.hero-section-div > img {
    margin-bottom: 0;
}

.section-main p {
    font-weight: var(--weight-exhibition-p-home);
    font-size: var(--size-exhibition-p-home);
}

#display-hall {
}


.exhibitions-home > * {
    margin-bottom: var(--margin-diff-element-vertical-mobile);
}

.heading-background {
    margin-bottom: var(--margin-section-vertical-mobile);
}

.exhibitions-home > .heading-background {
    margin-bottom: var(--margin-diff-element-vertical-mobile);
}

.heading-background * {
    font-family: var(--primary-font), var(--font-fallback);
    text-transform: uppercase;
}

#heading-section-home-1,
#heading-section-home-2 {
    text-transform: none;
}

.heading-background > .heading-standard {
    padding-left: var(--padding-horizontal-mobile);
}


#home-event-2 {
    display: none;
}


.buttons-div {
    display: flex;
    justify-content: space-between;
}

#hero-section, .heading-section > * {
    background-color: var(--primary-color);
}

.h-b-cosmology, .buttons-cosmology > a {
    border-color: var(--secondary-color-purple);
    background-color: var(--secondary-color-purple);
}

.h-b-evolution, .buttons-evolution > a {
    border-color: var(--cta-border-color-standard);
    background-color: var(--secondary-color-yellow);
}

.h-b-biology-and-medicine, .buttons-biology-and-medicine > a {
    border-color: var(--secondary-color-red);
    background-color: var(--secondary-color-red);
}

.h-b-event-night, .buttons-event-night > a {
    border-color: var(--cta-border-color-standard);
    background-color: var(--secondary-color-orange);
}

#exhibitions-section-home,
#special-section-home {
    border-bottom: none;
}

.bottom-button-div {
    padding-top: var(--margin-section-vertical-mobile);
    border-top: var(--border-style) var(--border-width) var(--text-color-standard);
}

#special-section-home {
    margin-top: var(--margin-section-vertical-mobile);
}

#bottom-button-div-2 {
    margin-bottom: var(--margin-section-vertical-mobile);
}

#hero-section > a,
.bottom-button-div > a {
    box-sizing: border-box;
    display: block;
    text-align: center;
}












/* Media Queries */


@media screen and (min-width: 800px) {
    #logo-full {
        display: block;
    }

    #logo-abbr {
        display: none;
    }
}



@media screen and (min-width: 700px) {
    
    nav {
        display: flex;
    }

    .navigation-div {
        display: flex;
        justify-content: space-between;
        width: 70%;
    }

    nav a {
        font-size: var(--size-nav-a-big);
    }

    #hamburger-menu {
        display: none;
    }
}